* {
    margin: 0;
    padding: 0;
}

html, body {
    /*设置最小宽度，当页面达到最小宽度时，不会使浮动被压缩的其他盒子下面*/
    min-width: 1700px;
    height: 100%;
    font-size: 18px;
}

.header {
    width: 100%;
    height: 45px;
    /*background: #fd8040;*/
}

.header .logo {
    float: left;
    margin-left: 20px;
    opacity: 0.5;
}

.header .logo a {
    display: inline-block;
    width: 78px;
    height: 21px;
    background: url("../images/player_logo.png");
}

.header .logo:hover {
    opacity: 1;
}

.header .register {
    float: right;

}

.header .register li {
    list-style: none;
    line-height: 45px;
    margin-right: 20px;
    float: left;
    cursor: pointer;
    opacity: 0.5;
    color: #fff;
}

.header .register li:hover {
    opacity: 1;
}

.content {
    width: 100%;
    height: 700px;
    /*background: #8B6BBB;*/
}

.content .content_in {
    /*min-width: 1500px;*/
    width: 1500px;
    height: 100%;
    /*background: plum;*/
    margin: 0 auto;
}

.content_in .content_left {
    width: 1000px;
    height: 100%;
    float: left;
    /*background: chartreuse;*/
}

.content_left .content_toolbar {
    width: 100%;
    height: 43px;
    /*background: wheat;*/
}

.content_left .content_toolbar span {
    display: inline-block;
    width: 122px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #fff;
    /*可以使两个块级元素无缝的连接在一起，不会产生变大的效果。*/
    box-sizing: border-box;
    border-radius: 5px;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}

.content_left .content_toolbar span:hover {
    opacity: 1;
}

.content_toolbar span i {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../images/icon_sprite.png") no-repeat 0 0;
    margin-right: 10px;
    /*垂直对齐方式*/
    vertical-align: -5px;
}

.content_toolbar span:nth-child(1) i {
    background-position: -60px -20px;
}

.content_toolbar span:nth-child(2) i {
    background-position: -20px -20px;
}

.content_toolbar span:nth-child(3) i {
    background-position: -40px -240px;
}

.content_toolbar span:nth-child(4) i {
    background-position: -100px -20px;
}

.content_toolbar span:nth-child(5) i {
    background-position: -40px -300px;
}


.content_left .content_list {
    width: 100%;
    height: 657px;
    /*background: #cccccc;*/
    overflow: auto;
}

.content_list li {
    list-style: none;
    width: 100%;
    height: 50px;
    /*background: rosybrown;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    /*禁止选中li标签中的内容*/
    user-select: none;
}

.content_list li div {
    float: left;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.5);
    /*opacity: 0.5;*/
}

.content_list .list_check {
    width: 50px;
    height: 100%;
    /*background: #000;*/
    text-align: center;
}

.content_list .list_check i {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
    vertical-align: -3px;
    opacity: 0.5;
}

.content_list .list_checked i {
    background: url("../images/icon_sprite.png") no-repeat -60px -80px;
    opacity: 1;
}

.content_list .list_number {
    width: 20px;
    height: 100%;
}

/*通过JS来设置音浪动态图*/
.content_list .list_number2 {
    color: transparent !important;
    background: url("../images/wave.gif") no-repeat 0 center;
}

.content_list .list_name {
    width: 50%;
    height: 100%;
    /*background: #74ACCF;*/
}

.list_name .list_menu {
    float: right;
    margin-top: 5px;
    margin-right: 20px;
    display: none;
}

.list_menu a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url("../images/icon_list_menu.png") 0 0;
    opacity: 0.5;
}

.list_menu a:hover {
    opacity: 1;
}

.list_menu a:nth-child(1) {
    background-position: -120px 0;
}

.list_menu a:nth-child(2) {
    background-position: -120px -80px;
}

.list_menu a:nth-child(3) {
    background-position: -120px -120px;
}

.list_menu a:nth-child(4) {
    background-position: -120px -40px;
}

.list_menu .list_menu_play2 {
    background-position: -80px -200px !important;
}

.content_list .list_singer {
    width: 20%;
    height: 100%;
    /*background: burlywood;*/
}

.content_list .list_time a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url("../images/icon_list_menu.png") -120px -160px;
    float: left;
    margin-top: 5px;
    display: none;
    opacity: 0.5;
}

.content_list .list_time a:hover {
    opacity: 1;
}

.content_in .content_right {
    width: 500px;
    height: 100%;
    float: right;
    user-select: none;
}

.content_right .song_info {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    line-height: 40px;
}

.song_info .song_info_pic {
    display: inline-block;
    background: url("../images/album_cover_player.png") no-repeat 0 0;
    width: 201px;
    height: 180px;
    text-align: left;
}

.song_info_pic img {
    width: 180px;
    height: 180px;
}

.song_info div a {
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}

.song_info div a:hover {
    opacity: 1;
}

.content_right .song_lyric_container {
    margin-top: 150px;
    height: 200px;
    overflow: hidden;
    /*background: red;*/
}

.content_right .song_lyric {
    /*background: yellowgreen;*/
    text-align: center;
}

.content_right .song_lyric li {
    list-style: none;
    line-height: 40px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.5);
}

.content_right .song_lyric .cur {
    color: #31c27c;
}

.footer {
    width: 100%;
    height: 80px;
    /*background: aqua;*/
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer .footer_in {
    width: 1500px;
    height: 100%;
    /*background: plum;*/
    margin: 0 auto;
    user-select: none;
}

.footer_in a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: url("../images/player.png") no-repeat 0 0;
    margin-right: 20px;
}

.footer_in .music_pre {
    width: 19px;
    height: 20px;
    background-position: 0 -30px;
}

.footer_in .music_play {
    width: 21px;
    height: 29px;
    background-position: 0 0;
    vertical-align: -5px;
}

/*切换播放和暂停按钮*/
.footer_in .music_play2 {
    background-position: -30px 0;
}

.footer_in .music_next {
    width: 19px;
    height: 20px;
    background-position: 0 -52px;
}

.footer_in .music_progress_info {
    width: 870px;
    height: 40px;
    display: inline-block;
    /*background: greenyellow;*/
    position: relative;
    top: 10px;
    margin-right: 10px;
}

.music_progress_info .music_progress_top {
    /*background: goldenrod;*/
    line-height: 30px;
    width: 100%;
    height: 30px;
    color: #fff;
}

.music_progress_top .music_progress_name {
    opacity: 0.5;
    float: left;
    cursor: pointer;
}

.music_progress_top .music_progress_name:hover {
    opacity: 1;
}

.music_progress_top .music_progress_time {
    float: right;
    opacity: 0.5;
}

.music_progress_info .music_progress_bar {
    width: 100%;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5px;
    position: relative;
}

.music_progress_bar .music_progress_line {
    width: 0;
    height: 100%;
    background: #fff;
}

.music_progress_line .music_progress_dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -5px;
    left: 0;
}

.footer_in .music_mode {
    width: 26px;
    height: 25px;
    background-position: 0 -205px;
    vertical-align: -3px;
}

/*切换模式*/
.footer_in .music_mode2 {
    width: 23px;
    height: 20px;
    background-position: 0 -260px;
}

.footer_in .music_mode3 {
    width: 25px;
    height: 19px;
    background-position: 0 -74px;
}

.footer_in .music_mode4 {
    width: 26px;
    height: 25px;
    background-position: 0 -232px;
}

.footer_in .music_fav {
    width: 24px;
    height: 21px;
    background-position: 0 -96px;
}

/*切换最喜欢图片样式*/
.footer_in .music_fav2 {
    background-position: -30px -96px;
}

.footer_in .music_down {
    width: 22px;
    height: 21px;
    background-position: 0 -120px;
}

.footer_in .music_comment {
    width: 24px;
    height: 24px;
    background-position: 0 -400px;
}

.footer_in .music_only {
    width: 74px;
    height: 27px;
    background-position: 0 -281px;
}

.footer_in .music_only2 {
    background-position: 0 -310px;
}

.footer_in .music_voice_info {
    width: 166px;
    height: 40px;
    display: inline-block;
    /*background: greenyellow;*/
    position: relative;
    top: 4px;
}

.music_voice_info .music_voice_icon {
    width: 26px;
    height: 21px;
    background-position: 0 -144px;
    position: absolute;
    left: 0;
    top: 15px;
}

.music_voice_info .music_voice_icon2 {
    background-position: 0 -182px;
}

.music_voice_info .music_voice_bar {
    width: 130px;
    height: 4px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 0;
    top: 21px;
}

.music_voice_bar .music_voice_line {
    width: 130px;
    height: 100%;
    background: #fff;
}

.music_voice_line .music_voice_dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #fff;
    position: relative;
    top: -5px;
    left: 130px;
}

.mask_bg {
    position: absolute;
    left: 0;
    top: 0;
    /*z-index 属性设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面。*/
    z-index: -2;
    width: 100%;
    height: 100%;
    background: url("../images/lnj.jpg") no-repeat 0 0;
    /*设置图片的尺寸，cover使背景图像完全覆盖背景区域*/
    background-size: cover;
    /*滤镜，blur设置高斯模糊*/
    filter: blur(100px);
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
}

._mCS_1 .mCSB_scrollTools .mCSB_dragger_bar {
    width: 8px;
}


